.file-upload-container {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--bg-secondary);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px var(--shadow-color-strong);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
  }