.clean-button {
    margin-top: 20px;
}

.clean-button button {
    background-color: #2563eb; /* Nintendo grey */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff; /* Darker text for contrast */
    border: 1px solid #2563eb;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.clean-button button:hover {
    background-color: #1d4ed8; /* Slightly darker grey on hover */
    transform: scale(1.05); /* Subtle scaling for interaction */
}

.clean-button input {
    padding: 10px;
    background-color: #1f2937; /* Light grey background for input */
    border: 1px solid #374151;
    color: #f9fafb;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
